<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179670442209-8kom4ab553h5v9dp19qsr883euku4nkj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179670442209-8kom4ab553h5v9dp19qsr883euku4nkj</string>
	<key>API_KEY</key>
	<string>AIzaSyD0krEDGuwaB31i03EBNt1A6cJdfoDcL58</string>
	<key>GCM_SENDER_ID</key>
	<string>179670442209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RosalieWessels.Splanner</string>
	<key>PROJECT_ID</key>
	<string>splanner-a8267</string>
	<key>STORAGE_BUCKET</key>
	<string>splanner-a8267.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179670442209:ios:df647f3b56586241e757a0</string>
</dict>
</plist>