<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>773719066925-ngupjf33up3hoviuti8n5k2mjd9qed40.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.773719066925-ngupjf33up3hoviuti8n5k2mjd9qed40</string>
	<key>API_KEY</key>
	<string>AIzaSyAnf8O3pRjDNTRTFaP0L-2TvI_3NHu8NFs</string>
	<key>GCM_SENDER_ID</key>
	<string>773719066925</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.RosalieWessels.Splanner1</string>
	<key>PROJECT_ID</key>
	<string>splanner-metroha</string>
	<key>STORAGE_BUCKET</key>
	<string>splanner-metroha.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:773719066925:ios:53265348118b042f8caba4</string>
</dict>
</plist>